@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Index";
	Layout = "_UserLayout";
}

@model IEnumerable<Celebration_Of_Capitalism___The_Finale.Models.Product>

<div>
	<ul>
		@foreach (var item in Model)
		{
			<li>
				<a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
			</li>
		}
	</ul>
</div>